.blogPostConteiner{
  width: 70% ;
  background-color: #fff;
  }
  .blogHeader{
    text-align: center; 
  }
  .postTitle{
    letter-spacing:0.5px;
    text-transform:capitalize;
    font-size:30px;
    margin: 0;
  }