.sidebarConteiner{
    width: 27%;
  
  }
  .cardHeader{
    text-transform:uppercase;
    font-size: 15px;
    text-align: center; 
    padding: 10px 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #565673; 

  }
  